body {
  padding: 0;
  margin: 0;
  line-height: 1;
  background-color: #A2AEBB;
}

body,
html {
  height: 100%;
  min-height : 100%;
  min-width : 100%;
  background-size:100% 100%;
  background-repeat:no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
}

/*radio control */
#control{
  padding-top: 10px;
  padding-bottom: 10px;
  color: white
}


/* #map, */
#map {
  height: 550px;
  min-height: 100%;
  min-width: 100%;  
  float: left;
  position: relative;
  margin: 0;
}

#map-holder{
  height: 95%;
}

.fill
{
  min-height: 100%;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.container{
  max-width:60em;
  padding: 0.2em;
}

/* legend */
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 25px;
  color: #555;
  width: auto; 
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

/* I DONT KNOW HOW BUT THIS MAKES THE COLORS COME UP ON LEGEND DO NOT DELTE */
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 50px;
  height: 22px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
  font-size: 15px;
}

.legend .first {
  position: absolute;
  right: 75%;
  font-size: 15px;
}

.legend .second {
  position: absolute;
  right: 58%;
  font-size: 15px;
}

.legend .third {
  position: absolute;
  right: 43.5%;
  font-size: 15px;
}

.legend .fourth {
  position: absolute;
  right: 27.5%;
  font-size: 15px;
}

.legend .max {
  /* float: right; */
  position: absolute;
  right: 12.5%;
  font-size: 15px;
}

h1 {
  text-align: center;
}


/* footer */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: yellowgreen;
  color: whitesmoke;
  text-align:center
}

/* Top chart on right side of page */
#barchart{
  position: relative;
  margin: 0px;
  margin-top: 3px;
} 

/* Bottom chart on right side of page */
#crimechart{
  position: relative;
  margin-top: 0px;
} 

/* left nav bar */
#leftnav{
  padding-left: 20px;
  border-right-style:solid;
  border-right-color: lightgrey;
}

a {
  color: white;
}

/* image */
img#bg-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(25px);

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}


.nav-color{
  background-color:lightslategrey;
  color: lightgrey
}